<link rel="stylesheet" href="/assets/element-icons.css" />
<div class='container'>
    <i class='el-icon-date'></i>
    <input type="text" autocomplete="off" name placeholder="Pick a day" />
    <a id='clear-btn' type="button" aria-label="后一年"  class="el-icon-close"></a>
</div>
<div class='popup'>
    <span class='arrow'>▲</span>
    <div class='header'>
        <button id='subtract-year' type="button" aria-label="前一年"
            class="el-picker-panel__icon-btn el-date-picker__prev-btn el-icon-d-arrow-left"></button>
        <button id='subtract-month' type="button" aria-label="上个月"
            class="el-picker-panel__icon-btn el-date-picker__prev-btn el-icon-arrow-left"></button>
        <span id='year' role="button" class="el-date-picker__header-label">2019</span>
        <span id='month' role="button" class="el-date-picker__header-label">6 </span>
        <button id='add-year' type="button" aria-label="后一年"
            class="el-picker-panel__icon-btn el-date-picker__next-btn el-icon-d-arrow-right"></button>
        <button id='add-month' type="button" aria-label="下个月"
            class="el-picker-panel__icon-btn el-date-picker__next-btn el-icon-arrow-right"></button>
    </div>
    <div class='el-picker-panel__content'>
        <table cellspacing="0" cellpadding="0" class="el-date-table">
            <tbody id='days'>
                <span>
            </tbody>
        </table>
    </div>
</div>