<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../core-button.js"></script>
  </head>
  <body style="padding: 10px; height: 1000px;">
      <core-button size='medium'> Hello world </core-button>
      <core-button size='mini' type='danger'> Hello world </core-button>
      <core-button size='medium' round disabled type='success'> Sup </core-button>
      <core-button round type='text' plain> small </core-button>
  </body>
</html>
