<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="./core-checkbox.js"></script>
  </head>
  <body>
    <h2>Checkbox Component</h2>
    <p>Porting from <a href='https://element.eleme.io/#/en-US/component/checkbox'>Element UI Library</a></p>
    <h3>Basic</h3>
    <core-checkbox disabled>Option</core-checkbox>
  </body>
</html>
